<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Default Title{% endblock %}</title>

    <!-- Bootstrap -->

    <link rel="stylesheet" href="{{ url_for('static_files', filename='css/bootstrap/bootstrap.min.css') }}">
    <script src="{{ url_for('static_files', filename='js/bootstrap/bootstrap.bundle.min.js') }}"></script>

    <!-- Static JS -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="{{ url_for('static_files', filename='js/script.js') }}"></script>
    <!-- Static CSS -->
    <link rel="stylesheet" href="{{ url_for('static_files', filename='css/style.css') }}">

    {% endblock %}
</head>
<body>

{% block content %}
{% endblock %}

</body>
</html>
